@model SoldProductApp.Data.GetOrderVM
@{
}

<h1>Ordered Product</h1>

<div class="container">
    <label>Product Name: @Model.Order.ProductName</label><br />
    <label>Order Date: @Model.Order.OrderDate</label><br />
    <label>Cargo Code: @Model.Order.CargoCode</label><br />
    <label>Return Code: @Model.RMACode</label>
</div>